* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px; /* 1rem */
}

/* header */

header {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-brand i {
  color: #35a22c;
  margin-right: 7px;
}

.navbar-brand span {
  font-size: 3rem;
}

.navbar-nav .nav-item {
  margin: 0 1rem;
}

.navbar-nav .nav-item.active::after {
  width: 100%;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #35a22c;
}
.navbar-nav .nav-item:after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  background-color: #35a22c;
  transition: all 0.7s;
}
.navbar-nav .nav-item:hover::after {
  width: 100%;
}
.navbar-nav .nav-item.active a {
  color: #35a22c !important ;
}
.navbar-nav .nav-item .nav-link {
  font-weight: 800;
  color: white;
}

/* carrousel */

.carousel-item {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.carousel-item:nth-child(1) {
  background-image: url("./img/finland.jpg");
}
.carousel-item:nth-child(2) {
  background-image: url("./img/mountains.jpg");
}

.carousel-item:nth-child(3) {
  background-image: url("./img/mountains-1.jpg");
}
.img__thumb {
  width: 15rem;
  margin: auto;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
}
.carousel-indicators li.active{
  background-color: #35a22c;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50% !important;
  padding: 0 -80px;
  
}
.carousel-caption h3 {
  font-size: 45px;
}
.carousel-caption p {
  font-size: 20px;
}

/* project */

/* .project__content {

} */
#project {
  margin-bottom: 60px;
}
.tab-content .tab-pane .col-4 .card {
  border-radius: 15px;
  /* box-shadow: ; */
  margin-bottom: 30px;
  padding-bottom: 20px;
  transition: all 0.6s;
}
.card img {
  border-radius: 13px 13px 0 0;
}
.card-body {
  text-align: center;
  padding-top: 30px;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.card-body h4 {
  font-size: 20px;
  font-weight: 400;
  /* transition: all 0.5s; */
}
.card-body p {
  font-size: 14px;
  color: #585858;
}

.project__title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 30px;
}
.project__title p {
  font-size: 14px;
  color: #585858;
  font-weight: 400;
}

.project__content ul {
  justify-content: center;
  margin: 15px 0;
}
.project__content .nav.nav-pills li {
  margin: 10px 8px;
  border-radius: 3px;
  border: 1px solid #585858;
}
.project__content .nav.nav-pills li a {
  font-size: 12px;
  color: #585858;
  padding: 7px 15px;
  font-weight: 500;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white !important;
  background-color: #35a22c;
}

.tab-content .tab-pane .col-4 .card:hover {
  border: 1px solid #35a22c;
}
.tab-content .tab-pane .col-4 .card:hover h4 {
  color: #35a22c;
}

/* Available */

#feature {
  background-image: url("./img/3.jpg");
  background-repeat: no-repeat;
  background-position: canter;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 120px;
  position: relative;
}
#feature .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(7, 10, 12, 0.72);
  z-index: 0;
}
.feature__container {
  position: relative;
  z-index: 1;
}
.feature__heading {
  max-width: 70%;
}
.feature__heading p {
  color: #fff;
  font-size: 16px;
}
.feature__item {
  padding: 40px 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #fff;
  transition: all 0.3s;
  backdrop-filter: blur(3px);
}
.feature__item:hover {
  background-color: black;
  border: 1px solid #fff;
}
.feature__item i {
  color: #35a22c;
  font-size: 35px;
  margin-bottom: 25px;
}
.feature__item p {
  margin-top: 25px;
  font-size: 15px;
}

/* award */

#award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}
.award__bg {
  background-image: url("./img/memphis_3.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}
.award__left h2 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: bold;
}
.award__left p {
  color: #585858;
  line-height: 24px;
  font-size: 15px;
}
.award__right {
  padding: 45px 0;
}
.award__right p {
  margin-bottom: 15px;
  font-size: 15px;
}
/* footer */
#footer {
  background-color: #222;
}
.footer__social a {
  text-decoration: none;
  color: #aaa;
}
.footer__social a:nth-child(odd) {
  margin: 0 10px;
}
.footer__social a i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}
.footer__social a:hover i {
  text-decoration: none;
  color: #35a22c;
  border: 1px solid #35a22c;
}
.footer__copyright {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
.footer__copyright p {
  color: #aaa;
  font-weight: 600;
  font-size: 15px;
}
.footer__copyright p a {
  text-decoration: none;
  color: #aaa;
}
.footer__copyright p a:hover {
  color: #35a22c;
}
